# Core
streamlit>=1.36.0
numpy>=1.24.0

# Hugging Face
huggingface_hub>=0.25.0

# NLP - spaCy
spacy>=3.7.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

# Chunking
langchain-text-splitters>=0.2.0
langchain-experimental>=0.0.47
langchain-community>=0.2.0

# Utilities
pandas>=2.0.0
